* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.hero {
  background:
      linear-gradient(to top left, transparent 49%, #F0FAF5 50%) right/75% 100%,
      linear-gradient(#F0FAF5, #F0FAF5) left/25% 100%;
}

.topnav {
  background-color: #FBFBFB;
  color: #000000;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

a img {
  height: 35px;
}

.topnav a {
  color: #000000;
  background-color: #FBFBFB;
  float: left;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
}

.link {
  margin-top: 7px;
  margin-left: -20px;
  display: inline-block;
  padding-bottom: -5px;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #43B97E;
  transition: width 0.25s ease-out;
}

.link:hover::before {
  width: 100%;
}

.navbar button, .landing button {
  border-radius: 50px;
  padding: 7px 15px;
  width: 140px;
  background-color: #43B97E;
  outline: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav .sign-up {
  margin-left: -40px;
}

.arrow {
  height: 2px;
  width: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  transition: all .4s ease;
}

button:hover .arrow {
  width: 35px;
  margin-right: 5px;
}

.arrow:before,
.arrow:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 30%;
}

.arrow:before {
  right: -2px;
  bottom: -3px;
  transform: rotate(-45deg);
}

.arrow:after {
  right: -2px;
  top: -3px;
  transform: rotate(45deg);
}

.topnav .icon {
  display: none;
}

.landing {
  background-repeat: no-repeat;
  margin-top: 30px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 95vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "landing-left landing-right";
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  overflow-y: hidden;
}

.popup-heading {
  text-align: center;
  margin: 20px 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.landing-left {
  padding-left: 100px;
  position: absolute;
  transform: translateX(-50%);
  transition: transform 1000ms ease-in;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: landing-left;
}

.landing-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: landing-right;
  padding-right: 100px;
  transform: translateX(50%);
  transition: transform 1000ms ease-in;
  z-index: 3;
}

.slide-in.appear {
  transform: translateX(0);
}

.heading {
  font-weight: 800;
  font-size: 40px;
  padding: 12px 0px;
}

.motto {
  font-weight: 800;
  font-size: 30px;
  padding: 10px 0px;
  text-align: center;
}

.green {
  color: #43B97E;
}

.tutor-image {
  margin-top: 15px;
  width: 320px;
  background-color: transparent;
}

#login-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 30px 0px;
  width: 90%;
  margin: 20px auto;
  overflow-x: hidden;
}

.form-heading {
  padding-bottom: 5px;
  color: #43B97E;
  font-weight: 200;
  font-size: 20px;
}

.input-field {
  background-color: #E8F0FE;
  height: 38px;
  margin-top: 30px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
}

input {
  background-color: #E8F0FE;
  border: none;
  outline: none;
  width: 100%;
  font-size: 10px;
  overflow-y: hidden;
}

.ph-at, .ph-lock-key, .ph-eye {
  background-color: #E8F0FE;
  height: 20px;
  text-align: center;
  margin: 10px;
  color: #43B97E;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.ph-eye {
  float: inline-end;
}

.forgot-pw {
  color: #43B97E;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.button-form {
  margin-top: 20px;
}

.features {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "feature1 feature2 feature3";
  margin: 0 auto;
  margin-top: 80px;
}

.feature1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: feature1;
  background-color: transparent;
}

.feature2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: feature2;
  background-color: transparent;
}

.feature1:hover,.feature2:hover, .feature3:hover {
  transform: translateY(-20px);
}

.feature3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: feature3;
  background-color: transparent;
}

.feature-image {
  background-color: transparent;
  height: 60px;
}

.feature-text {
  color: #43B97E;
  text-align: center;
  margin-top: 10px;
}

.squiggly {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
  z-index: -10;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.fade {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade.appear {
  opacity: 1;
}

.intro {
  background-color: #F0FAF5;
  position: relative;
  /* padding: 0px 100px; */
}

.primary-heading {
  font-weight: 800;
  font-size: 40px;
  padding: 12px 0px;
  padding-top: 30px;
  text-align: center;
}

.secondary-heading {
  font-weight: 300;
  font-size: 20px;
  padding: 12px 0px;
  text-align: left;
}

.content {
  padding: 30px 100px;
}

.decoration {
  -webkit-animation: diagonalmove 1s infinite alternate;
  animation: diagonalmove 1s infinite alternate;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
}

@-webkit-keyframes diagonalmove {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-130deg);
  }
}

@keyframes diagonalmove {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-130deg);
  }
}

.reasons {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.benefit-content {
  margin-left: 50px;
}

.left-1:hover, .right-2:hover, .left-3:hover {
  transform: scale(1.2);
}

.left-1, .left-2, .left-3 {
  opacity: 0;
  transition: opacity 250ms ease-in;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);

}

.left-1.appear, .left-2.appear, .left-3.appear, .right-1.appear, .right-2.appear, .right-3.appear {
  opacity: 1;
}

.right-1, .right-2, .right-3 {
  opacity: 0;
  transition: opacity 250ms ease-in;
  border-radius: 0 30px 30px 0;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
}

.right-1,
.right-3,
.left-2 {
  width: 750px;
  min-height: 180px;
  background-color: #43B97E;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  margin-left: -30px;
}

.procedure {
  background-color: #F0FAF5;
  overflow-x: hidden;
}

.procedure-name {
  font-size: 25px;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 2px;
  padding: 0;
}

.procedure-number {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.procedure-explanation {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 700px;
  height: 600px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
}

.swiper-content {
  background-color: #43B97E;
  width: 100%;
  height: 100%;
}

.procedure-slide {
  width: 100%;
  height: 420px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #FFFFFF;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #43b97e98 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #43B97E !important;
}

.procedure1 {
  background-image: url("http://tutorchamps/assets/front/images/assets-tutor-new/procedure1.svg");
}

.procedure2 {
  background-image: url("http://tutorchamps/assets/front/images/assets-tutor-new/procedure2.svg");
}

.procedure3 {
  background-image: url("http://tutorchamps/assets/front/images/assets-tutor-new/procedure3.svg");
}

.procedure4 {
  background-image: url("http://tutorchamps/assets/front/images/assets-tutor-new/procedure4.svg");
}

.procedure-text {
  padding: 20px;
}

.work {
  background-color: #FFFFFF;
}

.work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  padding: 30px 100px;
  grid-template-areas: "deadline live-session";
}

.deadline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: deadline;
}

.live-session {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: live-session;
}

.work-heading {
  margin-bottom: 30px;
  color: #43B97E;
  font-size: 20px;
  font-weight: 800;
}

.deadline-image,
.live-session-image {
  width: 350px;
  margin-bottom: 20px;
  color: #43B97E;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}

.work img:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition-timing-function: ease-in;
}

.deadline-text,
.live-session-text {
  width: 350px;
  margin: 0 auto;
}

.testimonals {
  background-color: #FFFFFF;
  background-image: url("http://tutorchamps/assets/front/images/assets-tutor-new/tesimonialbg.png");
  background-size: cover;
  padding-bottom: 40px;
}

.testimonial-box {
  width: 90%;
  margin: 30px auto;
  max-width: 700px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.card {
  height: 300px;
  padding: 40px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}

.card::before {
  content: "";
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background-color: #43B97E;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.tutor-testimonial-image {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.customer-name {
  font-size: 25px;
  color: #43B97E;
}

.customer-role {
  font-size: 15px;
}

.review {
  margin-top: -20px;
}

#slide {
  width: 100%;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #43B97E;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar img {
  width: 35px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.faqs {
  background-color: #FFFFFF;
}

.faq-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "faq-left faq-right";
  grid-column-gap: 20px;
  padding: 30px 130px;
}

.faq-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: faq-left;
}

.faq-image {
  width: 80%;
}

.faq-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: faq-right;
}

.faq {
  margin-bottom: 15px;
}

.question {
  background-color: #F0FAF5;
  color: #000000;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border: 1px solid #43B97E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  text-align: left;
  outline: none;
  font-weight: 300;
  font-size: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live,
.question:hover {
  background-color: #43B97E;
  color: #FFFFFF;
  transform: translateY(-5px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.question:after {
  content: '\002B';
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  box-shadow: none;
}

.live:after {
  content: "\2212";
}

.answer {
  padding: 5px 18px;
  width: 100%;
  /* border-left: 5px solid #43B97E; */
  background-color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.answer p {
  padding: 10px 5px;
  margin-left: -10px;
}

.footer {
  background-color: #FAFCFF;
  padding: 20px;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5fr 1.5fr;
      grid-template-columns: 2fr 0.5fr 1.5fr;
      grid-template-areas: "apply quick-links contact-us";
  grid-column-gap: 40px;
}

.apply-text {
  padding-top: 10px;
}

.footer-link {
  color: #43B97E;
  text-decoration: underline;
  cursor: pointer;
}

.ph-instagram-logo, .ph-facebook-logo, .ph-youtube-logo, .ph-twitter-logo, .ph-linkedin-logo {
  font-size: 30px;
  cursor: pointer;
  color: #43B97E;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-header {
  font-weight: 300;
  font-size: 20px;
}

.links-footer {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-text {
  margin-top: 22px;
}

.link-footer {
  text-decoration: none;
  color: #000000;
  padding-bottom: 7px;
}

.email, .whatsapp {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ph-envelope, .ph-whatsapp-logo {
  font-size: 25px;
}

.copyright {
  margin-top: 20px;
  border-top: 0.25px solid rgba(119, 119, 119, 0.281);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.copyright p {
  padding-top: 11px;
}

.copyright-body {
  font-weight: 200;
  font-size: 15px;
}
.right-2-1{
  display: none;
}
@media screen and (max-width: 846px) {
  body, html {
    overflow-x: hidden;
  }
  .topnav {
    display: block;
  }
  .topnav a {
    margin-left: 15px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .tutor-image {
    display: none;
  }
  .popup-content {
    width: 50%;
  }
  a img {
    height: 25px;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .sign-up {
    margin-left: 0px !important;
  }
  .landing {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: auto;
    font-size: 12px;
    /* padding: 10px; */
        grid-template-areas: "landing-left" 
 "landing-right";
  }
  .landing-left {
    width: 90%;
    padding: 10px;
  }
  .landing-right {
    margin-top: 100px;
    padding: 10px;
    background-color: transparent;
  }
  .input-field {
    font-size: 20px;
  }
  .heading, .motto {
    font-size: 25px;
    text-align: center;
  }
  .motto{
    padding-top: 85px;
  }
  .landing button {
    width: 150px;
  }
  button {
    margin-left: 0px;
  }
  .form {
    padding: 5px -10px;
  }
  .features {
    margin-top: 40px;
  }
  .feature-image {
    height: 40px;
  }
  .feature-text {
    font-size: 13px;
  }
  .popup-content {
    width: 80%;
  }
  .primary-heading {
    font-size: 25px;
    padding: 10px 0px;
    padding-top: 30px;
  }
  .secondary-heading {
    font-size: 20px;
    padding: 1px 0px;
  }
  .content {
    padding: 30px;
  }
  .blog-content {
    font-size: 12px;
  }
  form {
    width: 80%;
    margin: 10px auto;
  }
  .intro {
    width: 100%;
  }
  .decoration {
    width: 30px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .benefit-content {
    margin: 20px;
  }
  .left-1, .left-3{
    height: 150px;
    margin-left: -35px;
    border-radius: 30px;
  }
  .right-1, .right-3 {
    margin: 0;
    width: 80%;
    margin-bottom: 50px;
    margin-left: -35px;
    padding: 5px;
    border-radius: 30px;
  }
  /* .right-2 {
    /* height: 150px; */
    /* margin-bottom: 50px;
    margin-left: -35px;
    border-radius: 30px; //

    margin: 0;
    width: 80%;
    margin-left: -35px;
    padding: 5px;
    border-radius: 30px;
  }
  .left-2 {
    /* margin: 0;
    width: 80%;
    margin-left: -35px;
    padding: 5px;
    border-radius: 30px; //

    height: 150px;
    margin-bottom: 50px;
    margin-left: -35px;
    border-radius: 30px;
  } */

  .right-2 {
    height: 150px;
    margin-left: -35px;
    border-radius: 30px;
    display: none;
  }
  .right-2-1{
    display: block;
  }
  .left-2 {
    margin: 0;
    width: 80%;
    margin-left: -35px;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 50px;
  }
  .swiper-slide {
    margin: 0 auto;
    height: 380px;
    width: 250px;
    margin-bottom: 20px;
  }
  .procedure-slide {
    height: 200px;
  }
  .procedure-name {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .procedure-number {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .procedure-explanation {
    font-size: 10px;
  }
  .work-grid {
    padding: 30px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "deadline" 
                              "live-session";
  }
  .deadline-image,
  .live-session-image{
    width: 250px;
  }
  .work-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .work-explanation {
    font-size: 12px;
  }
  .customer-name {
    font-size: 18px;
  }
  .customer-role {
    font-size: 13px;
  }
  .review {
    font-size: 10px;
  }
  .sidebar {
    width: 40px;
  }
  #slide {
    padding-right: 40px;
  }
  .sidebar img {
    width: 15px;
  }
  .faq-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding: 30px;
        grid-template-areas: "faq-left"
 "faq-right";
  }
  .faq-right {
    margin-top: 10px;
  }
  .question {
    font-size: 15px;
    padding: 10px;
  }
  .answer {
    font-size: 12px;
  }
  .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "apply" 
 "quick-links" 
 "contact-us";
  }
  .quick-links, .contact-us {
    margin-top: 15px;
  }
  .links-footer, .contact-text {
    margin-top: 10px;
  }
  .ce{
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */
